@import "../colors";
@import "../consts";

.rct {
    min-height: calc(100% - 10rem);
    padding-bottom: 20rem;

    .content {
        width: 80%;
        margin: auto;
        padding-top: 4rem;

        .input-grid {
            width: 100%;
            display: flex;
            gap: 2rem;
            align-items: flex-start;

            @media screen and (max-width: $breakpoint-tablet) {
                flex-direction: column;
            }

            .left-side {
                width: (calc(15% - 1rem));
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @media screen and (max-width: $breakpoint-tablet) {
                    width: 100%;
                    flex-direction: row;
                }
            }

            .right-side {
                width: (calc(85% - 1rem));
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @media screen and (max-width: $breakpoint-tablet) {
                    width: 100%;
                }
            }

            .class-grid {
                width: 100%;
                padding: 3rem;
                border-radius: 2rem;
                background-color: $main-panel-color;
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(3, 1fr);

                @media screen and (max-width: $breakpoint-tablet) {
                    width: 30%;
                }

                .icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    // width: calc((50rem - 2 * 5rem - 2 * 2rem) / 3);
                    width: 100%;
                    aspect-ratio: 1/1;
                }
                .icon-scale {
                    transition: transform 0.2s ease;
                }
                .icon-scale:hover {
                    transform: scale(1.2)
                }
            }

            .raid-list {
                width: 100%;
                padding: 3rem;
                background-color: $main-panel-color;
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @media screen and (max-width: $breakpoint-tablet) {
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 70%;
                }

                .wing-container {
                    width: 100%;

                    @media screen and (max-width: $breakpoint-tablet) {
                        width: calc((100% / 3) -  2rem);
                    }
                }
            }

            .result-panel {
                width: 100%;
                padding: 3rem;
                background-color: $main-panel-color;
                border-radius: 2rem;
                display: flex;
                gap: 2rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 50rem;
                    user-select: none;
                }

                .text {
                    font-size: 3rem;
                }
            }

            .stat-row {
                display: flex;
                gap: 2rem;

                .stat-panel {
                    width: 100%;
                    padding: 3rem;
                    background-color: $main-panel-color;
                    border-radius: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .title {
                        font-size: 3rem;
                        margin-bottom: 2rem;
                    }

                    .stat-table {
                        display: grid;
                        grid-template-columns: 3fr repeat(7, 1fr);

                        .class, .wing {
                            border: .1rem solid $main-panel-color-light;
                        }

                        .class {
                            padding: .5rem 1rem;
                        }

                        .wing {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .noTopBoder {
                            border-top: none !important;
                        }

                        .noRightBorder {
                            border-right: none !important;
                        }

                        .noBottomBorder {
                            border-bottom: none !important;
                        }

                        .noLeftBorder {
                            border-left: none !important;
                        }
                    }
                }
            }
        }
    }
}