.home {
  min-height: calc(100% - 10rem); }
  .home .content {
    width: 80%;
    margin: auto;
    padding-top: 4rem; }
    .home .content .wide-panel {
      width: 100%;
      padding: 4rem 6rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #1e1c1f;
      border-radius: 2rem;
      margin-bottom: 2rem; }
      .home .content .wide-panel .title {
        font-size: 3rem; }
      .home .content .wide-panel .text {
        width: 70%; }
    .home .content .panel-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem; }
      .home .content .panel-grid .half-panel {
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        padding: 4rem 6rem;
        width: 100%;
        position: relative;
        background-color: #1e1c1f;
        cursor: pointer; }
        .home .content .panel-grid .half-panel .title {
          z-index: 5;
          padding: .5rem 1rem;
          font-size: 3rem;
          background-color: rgba(30, 28, 31, 0.4);
          backdrop-filter: blur(1px);
          border-radius: 2rem; }
      .home .content .panel-grid .half-panel:hover {
        box-shadow: 0px 0px 0px 0.2rem #6f106f; }
      .home .content .panel-grid .panel-bg {
        position: absolute;
        width: 300%;
        height: 800px;
        top: -100px;
        left: -100%;
        right: 0;
        background-image: url("../../assets/random-class-thursday-panel-bg.png");
        background-position: 0 center;
        background-size: 150px;
        background-repeat: repeat;
        background-color: #1e1c1f;
        animation: scroll 12s linear infinite; }

@keyframes scroll {
  from {
    transform: translateY(0) rotateX(-25deg) rotateY(25deg) rotateZ(25deg); }
  to {
    transform: translateY(-325px) rotateX(-25deg) rotateY(25deg) rotateZ(25deg); } }
