.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .link-container {
    display: flex;
    gap: .5rem; }
    .header .link-container .link {
      padding: .5rem 2rem;
      cursor: pointer; }
